
    @import "_variales.scss";
    body{
        background-color: $colorFondo;
    }

    h1{
        color:$colorText;
    }

    h2{
        color: $colorText;
    }

    body{
        margin: 0px;
        padding: 0px;
    }

    .container{
        display: flex;
        justify-content: center;
    }